@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import "react-slideshow-image/dist/styles.css";

h1 {
  color: white;
  padding: 40px;
  position: relative;
  font-family: heebo;
}

h2 {
  color: white;
  padding: 10px;
  font-family: heebo;
}

ul {
  margin: 5px;
  padding: 5px;
  font-family: heebo;
}

li {
  margin: 5px;
  padding: 5px;
  float: right;
  font-family: heebo;
}

li:hover {
  background-color: #efdcf9;
  color: #8155ba;
  border-radius: 10px;
}

.donateButton {
  display: flex;
  margin-right: 10px;
  margin-top: 30px;
  background-color: #fff4bd;
  font-size: 20px;
  padding: 14px 100px 14px 100px;
  color: #8155ba;
  border: none;
  border-radius: 12px;
  float: right;
}

.headerStyle {
  background-color: #8155ba;
  color: white;
  height: 50px;
  border-radius: 10px;
}

.logoNav {
  margin: 5px;
  padding: 5px;
}

.linkNav {
  list-style: none;
}

.bannerStyle {
  height: 600px;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.imageSize {
  width: 100%;
  object-fit: none;
  object-position: center;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.sloganText {
  color: #8155ba;
  text-align: center;
}

.whoAreBM {
  background-color: #8155ba;
  height: 300px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.slideshow {
  background-color: #efdcf9;
  border-radius: 10px;
  margin-top: 10px;
}

.slideshowText {
  color: #8155ba;
  text-align: center;
}

.contactForm {
  background-color: #fff4bd;
  height: 300px;
  border-radius: 10px;
  text-align: center;
}

.contactForm h1 {
  color: #8155ba;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.fname {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.contactTextBox {
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  font-family: heebo;
}

.contactForm button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #efdcf9;
}

.contact {
  margin: 10px;
}

.partners {
  color: #8155ba;
  height: 300px;
  border-radius: 10px;
}

.partners h4 {
  margin-top: 30px;
  font-family: heebo;
  text-align: center;
  margin-left: 10px;
  color: #8155ba;
}

.partnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
}

.footerContainer {
  background-color: #efdcf9;
  height: 300px;
  border-radius: 10px;
}

.companyInfoContainer {
  margin: 10px;
  padding: 10px;
}

.companyAddressText {
  color: white;
  font-family: heebo;
  /* padding: 0px; */
  margin: 5px;
}

.companyAddressText p {
  color: white;
}

.signature {
  height: 100px;
  border-radius: 10px;
  color: #efdcf9;
  margin: 5px;
}

.SignatureBanner {
  background-color: black;
  height: 300px;
  /* border-radius: 10px; */
}

.signatureBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: heebo;
}

.socialMediaIconsContainer {
  margin: 10px;
  float: right;
  color: white;
  display: flex;
}

.facebookIcon {
  margin: 5px;
}

.facebookIcon a:visited {
  color: white;
}

.facebookIcon a:hover {
  color: #8155ba;
}

.instagramIcon {
  margin: 5px;
}

.instagramIcon a:visited {
  color: white;
}

.instagramIcon a:hover {
  color: #8155ba;
}

.twitterIcon {
  margin: 5px;
}

.twitterIcon a:visited {
  color: white;
}

.twitterIcon a:hover {
  color: #8155ba;
}
